/* Main CSS */
body {
  background-image: url(/Media/IMGs/VID%20Source%20BG.png);
}

/* Text CSS */
h1 {
  color:gold;
  text-align:center;
  font-family:sans-serif
}
a {
  color:lime;
  font-family:sans-serif;
  text-shadow: 1px red 1px blue;
}

/* DIV CSS */
.main {
  background-color:rgba(0,128,0,0.4);
  color:white;
  text-align:center;
  margin:auto;
  position:relative;
  max-width:1600px;
  font-size: 14px;
  font-family:sans-serif
}
.nav {
  background-color:black;
  color:white;
  text-align:center;
  margin:auto;
  position:relative;
  max-width:1600px;
  font-size: 14px;
  font-family:sans-serif
}
.header {
  background-color:black;
  color:white;
  text-align:center;
  margin:auto;
  position:relative;
  max-width:1600px;
  font-size: 36px;
  font-family:sans-serif
}
